.main{
  background-color: blue;
  text-align: center;
  
}


.random{
  display: inline-block;
 text-align: center;
  font-size: 100px;
  width: 100px;
  background-color: green;
  font-color: red;
  border: solid;
  height: 100px;
}
.highlight {
  background-color: yellow;
}
